<div id="code-controls-edit">
    <button id="btn-sim" class="btn btn-primary btn-sm">Simulate <i class="fa fa-check-circle"></i></button>
    <button id="btn-cancel-edit" class="btn btn-danger btn-sm">Cancel <i class="fa fa-times-circle"></i></button>
</div>
<div id="code-controls-sim">
    <button id="btn-edit" class="btn btn-primary btn-sm">Edit <i class="fa fa-pencil"></i></button>
    <button id="btn-share" class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#share-link-modal">Share <i class="fa fa-share-alt"></i></button>
</div>
