<table class="table iloc borderless">
    <tbody>
        {{#each nodes}}
            <tr id="instruction-{{this.index}}" class="instruction">{{toHTML this}}</tr>
        {{/each}}
    </tbody>
</table>
