<div id="code-display" class="row">
</div>
<div id="code-editor" class="row">
</div>
<div id="code-alert" class="row alert alert-dismissable no-flex">
    <span id="code-alert-content"></span>
    <a id="btn-hide-alert" class="close">&times;</a>
</div>
<div id="code-controls" class="row no-flex">
</div>
