/* General Settings */

#canvas {
    font-family: roboto;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 50px;
}

#canvas h1 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#canvas h2 {
    font-size: 1.2em;
}


/* Left Column */

#left-column {
    text-align: center;
}

.fixed {
    position: fixed;
}


/* Controls */
#controls {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}


/* Code Panel */

#code-container {
    width: 100%;
    overflow-x: auto;
}

#code {
    text-align: left;
    whitespace: pre;
    font-family: Monospace;
}

#code td {
    width: 100%;
    padding: 0 5px 0 5px;
}


/* Results Table */

#result-container {
    width: 100%;
    overflow-x: auto;
}

#result-container td{
    white-space:nowrap;
}

#result-container table {
    margin: 0;
}

.table-bordered,
.table-bordered>thead,
.table-bordered>tbody,
.table-bordered>thead>tr,
.table-bordered>tbody>tr,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td {
    border-color: #ccc;
    border-width: 1px;
}


/* Table */

.cell-grey {
    background-color: #eee;
}

th {
    text-align: center;
    padding: 5px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}


/* Highlighting */

#meet {
    color: #000 !important;
    padding: 1px 0;
    margin: 0px 0;
    border-radius: 5px;
}

#transfer {
    color: #000 !important;
    padding: 1px 0;
    margin: 0px 0;
    border-radius: 5px;
}

.unvisited-highlight {
    color: #ddd;
}

.visited-highlight {
}


.transfer-light-highlight {
    background-color: #72BbFa;
    color: #FFF;
    font-weight: bold;
}

.transfer-dark-highlight {
    background-color: #428bca;
    color: #FFF;
    font-weight: bold;
}

.meet-light-highlight {
    background-color: #7cD87c;
    color: #FFF;
    font-weight: bold;
}

.meet-dark-highlight {
    background-color: #5cb85c;
    color: #FFF;
    font-weight: bold;
}