html, body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-spacer {
    padding-bottom: 50px;
}

footer {
    padding-top: 30px;
}

/* Base Page CSS */

.canvas {
    flex: 1 1 auto;
    padding: 1em 2em;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

.canvas > .row {
    flex: 1 1 auto;
}

#view-canvas h1 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#view-canvas h2 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

#left-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

#left-column > .row {
    display: flex;
    flex: 0 1 auto;
    margin-bottom: 1em;
}

#left-column > .row:last-child {
    margin-bottom: 0;
}

#left-column .row.flex {
    flex: 1 1 auto;
}

#right-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

#right-column > .row {
    display: flex;
    flex: 0 1 auto;
    margin-bottom: 1em;
}

#right-column > .row:last-child {
    margin-bottom: 0;
}


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* Lesson */

.lesson-step {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: justify;
}

.lesson-step .row {
    flex: 1 1 auto;
}

.lesson-step nav.row {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.less-step nav.row button {
    
}

/* Tables */

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.cell-grey {
    background-color: #eee;
}


/* Code View */

#code-canvas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#code-canvas > .row {
    display: flex;
    flex: 0 1 auto;
    margin-bottom: 1em;
}

#code-canvas > .row:last-child {
    margin-bottom: 0;
}

#code-editor {
    width: 100%;
    font-family: Monospace;
    min-height: 18em;
    resize: vertical;
    display: flex;
}

#code-editor > textarea {
    flex: 1 1 auto;
}

#code-display {
    overflow-x: auto;
    overflow-y: auto;
}

table.iloc {
    font-family: Monospace;
    width: 100%;
    margin-bottom: 0;
}

table.iloc>thead>tr>th,
table.iloc>thead>tr>td,
table.iloc>tbody>tr>th,
table.iloc>tbody>tr>td {
    margin: 0;
    padding: 0 5px;
}

table.table>thead>tr>th,
table.table>thead>tr>td,
table.table>tbody>tr>th {
    vertical-align: middle;
    text-align: center;
}


/* Code Controls */

#code-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Results Table View */

#results-canvas {
    overflow-x: auto;
    font-size: 0.8em;
    /* overflow-y: hidden; */
    /* padding-bottom: 15px; */
}

#results-canvas table {
    margin-bottom: 1px;
}

#results-canvas table>thead>tr>th,
#results-canvas table>thead>tr>td,
#results-canvas table>tbody>tr>th,
#results-canvas table>tbody>tr>td {
    border-bottom-width: 1px;
    padding: 4px 10px;
    white-space: nowrap;
}


/* Round Robin Iterator View */

#sim-controls-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu */

#menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#menu > button {
    flex: 1 1 auto;
}


/* Framework View */

#framework-canvas > .row {
    display: flex;
    flex: 0 1 auto;
    margin-bottom: 1em;
}

#framework-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-justify: space-around;
}

.order-index {
    flex: 1 1 3em;
    text-align: center;
}

.flex {
    flex: 1 1 auto;
}

.text-center {
    text-align: center;
}

.order-index:last-child::after {
    content:'';
}


/* Highlighting */

#meet {
    color: #000 !important;
    padding: 1px 0;
    margin: 0px 0;
    border-radius: 5px;
}

#transfer {
    color: #000 !important;
    padding: 1px 0;
    margin: 0px 0;
    border-radius: 5px;
}

.unvisited {
    color: #ddd;
}

.visited {
}

.meet.highlight {
    background-color: #6cc86c;
    color: #FFF;
    font-weight: bold;
}

.meet.read.highlight {
    background-color: #7cD87c;
    color: #FFF;
    font-weight: bold;
}

.meet.modified.highlight {
    background-color: #5cb85c;
    color: #FFF;
    font-weight: bold;
}

.transfer.highlight {
    background-color: #62abea;
    color: #FFF;
    font-weight: bold;
}

.transfer.read.highlight {
    background-color: #72BbFa;
    color: #FFF;
    font-weight: bold;
}

.transfer.modified.highlight {
    background-color: #428bca;
    color: #FFF !important;
    font-weight: bold;
}


/* CFG Highlight */

g.node.highlight foreignobject {
    color: #fff;
    font-weight: bold;
}

g.node.transfer.highlight>rect {
    fill: #62abea;
}

g.node.transfer.read.highlight>rect {
    fill: #72BbFa;
}

g.node.transfer.modified.highlight>rect {
    fill: #428bca;
}

g.node.meet.highlight>rect {
    fill: #6cc86c;
}

g.node.meet.read.highlight>rect {
    fill: #7cD87c;
}

g.node.meet.modified.highlight>rect {
    fill: #5cb85c;
}


/* Graphs */

svg:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

svg:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#cfg-canvas {
    border: #eee solid 1px;
    display: flex;
    padding: 0px;
}

#cfg-svg {
    flex: 1 1 auto;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 1em;
}

.node rect {
  stroke: #1d1d1d;
  fill: #fff;
  color: #000;
  stroke-width: 1.5px;
}

g.label {
    font-size: 1em;
    color: #000;
    font-weight: normal;
}

g.label sub {
    position: static;
    bottom: 0;
    vertical-align: sub;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

/* Question Views */

.question {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.answer-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.btn-answer {
    flex: 0 1 47.5%;
    margin: 0.5em 0;
}