<p>{{#definition "dataflow_analysis"}}<strong>Data-flow analysis</strong>{{/definition}} is a technique for gathering information at various points in a {{#definition "control_flow_graph"}}<strong>control-flow graph</strong>{{/definition}}. Compilers perform data-flow analysis to help them make decisions when optimizing programs.</p>
