<p>Nothing changes until we reach \(n_3\). However, the last time we evaluated \(\text{In}(n_3)\) we took the value of \(\text{Out}(n_6)\) to be the empty set. That value has changed, so \(\text{In}(n_3)\) will <strong>also</strong> change.</p>
