<p>As we saw in the first lesson, we can use {{#definition "dataflow_analysis"}}<strong>data-flow analysis</strong>{{/definition}} to gather information at various points in a {{#definition "control_flow_graph"}}<strong>control-flow graph</strong>{{/definition}}.</p>

<p>We've seen what happens when we analyse CFGs with a <strong>single path</strong>, but what happens when we have <strong>branches</strong> or <strong>loops</strong>?</p>
