<p>Next, we evaluate each branch <strong>independently</strong>.</p>

<p>Let's calculate the \(\text{In}\) set for the <strong>right-hand</strong> branch:</p>

<p>\begin{align}
\text{In}(n_6) &= \bigcup_{p \in preds} \text{Out}(p) \\
             &= \text{Out}(n_3) \\
             &= \{\texttt{rc}_1, \texttt{rb}_1, \texttt{ra}_1\}
    \end{align}</p>

