<h1>Summary</h1>

<ul>
    <li>When we reach a branch, we evaluate each branch in turn.</li>
    <li>We need to repeat the analysis until none of our value sets change.</li>
</ul>

<p>You can view either of the two CFGs in the simulator, continue to the next lesson or return to the menu using the buttons below.</p>

<p><a id="btn-goto-next-lesson" class="btn btn-primary btn-block">Next Lesson</a></p>
<p><a id="btn-goto-branch-simulator" class="btn btn-secondary btn-block">Open Branching CFG in Simulator</a></p>
<p><a id="btn-goto-loop-simulator" class="btn btn-secondary btn-block">Open Looping CFG in Simulator</a></p>
<p><a id="btn-goto-menu" class="btn btn-secondary btn-block">Back to Menu</a></p>
