<p>On the right we have a CFG with a branching path. This program computes the maximum of \(\text{Memory}(\texttt{rx})\) and \(\text{Memory}(\texttt{ry})\).</p>

<p>Let's step through a {{#definition "reaching_definition"}}reaching definitions{{/definition}} analysis and see what happens.</p>
