<p>\begin{align}
    \text{In}(n_3) &= \bigcup_{p \in preds} \text{Out}(p) \\
    &= \text{Out}(n_2) \cup \text{Out}(n_6) \\
    &= \{\texttt{rc}_1, \texttt{rb}_1, \texttt{ra}_1\} \cup \emptyset \\
    &= \{\texttt{rc}_1, \texttt{rb}_1, \texttt{ra}_1\}
    \end{align}</p>

<p>We always use <strong>current information</strong> when computing sets. In this case, we take \(\text{Out}(n_6)\) to be the empty set.</p>
