<p>So far we've stopped after one iteration. This is technically incorrect - we need to repeat the analysis until our values <strong>stop changing</strong>. Let's go back to \(n_1\) and repeat the process using the information we gathered from the last iteration.</p>
