<p>The \(\texttt{jump}\) node doesn't kill or generate any definitions, so we'll skip it.</p>

<p>We're now ready to evaluate the <strong>meeting point</strong> of the two branches, \(\text{In}(n_7)\).</p>
