<p>
    <button id="{{id}}" class="btn btn-secondary btn-block" lesson="{{lesson}}">
        {{text}} {{#if complete}}<i class="fa fa-check-circle pull-right text-success complete-check"></i>{{/if}}
    </button>
</p>
