<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div id="menu" class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Simulations</h2>
                        <p>
                        <button class="btn btn-secondary btn-block" id="btn-round-robin-simulator">
                            Round Robin Iterator
                        </button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Testing</h2>
                        <p>
                        <button class="btn btn-secondary btn-block" id="btn-lattice-testbed">
                            Lattices
                        </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 well">
                <div id="description-canvas">
                </div>
            </div>
        </div>
    </div>
</div>
