<div class="row">
    <div id="menu-container" class="col-xs-12">
        <div class="row">
            <div id="menu" class="col-xs-offset-3 col-xs-6">
            </div>
            <div id="survey-link" class="col-xs-3" style="max-width: 300px; display: flex; flex-flow: column nowrap; justify-content: center;">
                    <p>In order to evaluate this software, I'd love your feedback. After using the software, <strong>please fill in a short survey</strong> using the link below!</p>
                    <div class="text-center">
                        <a href="https://docs.google.com/forms/d/1oXITt4Zhv9nGVuz-_QbHvo-uB0KSIzi5L-n7_8Y0Qn8/viewform?{{#if experience}}&entry.1011373184={{experience}}{{/if}}{{#if is_student}}&entry.921657711=I+am+a+student.{{/if}}{{#if is_cs}}&entry.921657711=I+have+studied+Computer+Science+at+degree+level.{{/if}}{{#if is_stem}}&entry.921657711=I+have+studied+another+STEM+subject+at+degree+level.{{/if}}{{#if is_copt}}&entry.921657711=I+am+a+student+of+the+COPT+course+(UoE+Informatics+only){{/if}}{{#if userid}}&entry.1896825931={{userid}}{{/if}}" class="btn btn-primary">Go to Survey <i class="fa fa-share"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
