<div class="row">
    <div id="menu-container" class="col-xs-12">
        <div class="row">
            <div id="menu" class="col-xs-offset-3 col-xs-6">
            </div>
        </div>
    </div>
</div>
