<div class="row">
    <div class="col-xs-offset-3 col-xs-6" style="font-size: 1rem">

        <h1>Notice</h1>

        <p>Welcome! The aim of this software is to teach you, the user, about the topic of data-flow analysis. The software contains lessons, tests and a simulator to aid students' learning.</p>

        <p>In order to analyse the software's effectiveness, I need to ask you a few questions. I will also be collecting <strong>anonymous</strong> usage data such as:</p>

        <ul>
            <li>Button clicks</li>
            <li>Answers to questions</li>
            <li>Pages visited</li>
        </ul>

        <p>None of this data can or will be used to identify you and no sensitive personal information is collected.</p>
        
        <p>By clicking the button below, you agree to allow this data to be used for the purpose of evaluating this software.</p>

        <div class="text-center">
            <button id="btn-test-start" class="btn btn-primary">I accept the terms of this notice.</button>
        </div>
    </div>
</div>
