<div class="row">
    <div id="left-column" class="col-xs-offset-3 col-xs-6 lesson-step">
        <nav class="row">
            <span></span>
            <button id="btn-next" class="btn btn-primary">Next</button>
        </nav>
        <div class="row flex-max">
            <div id="text" class="col-xs-12 answers-col">
            </div>
        </div>
    </div>
</div>
