<h1>Summary</h1>

<ul>
    <li>Data-flow analysis lets us <strong>gather information</strong> at points in a <strong>control-flow graph.</strong></li>
    <li>We use <strong>data-flow equations</strong> to determine this information.</li>
    <li>Information is defined in terms of <strong>in</strong> and <strong>out</strong> points for each node in the CFG.</li>
    <li>This information is used during the <strong>optimisation</strong> stage in a compiler.</li>
</ul>

<p>You can view the CFG in the simulator, continue to the next lesson or return to the menu using the buttons below.</p>

<p><a id="btn-goto-next-lesson" class="btn btn-primary btn-block">Next Lesson</a></p>
<p><a id="btn-goto-simulator" class="btn btn-secondary btn-block">Open CFG in Simulator</a></p>
<p><a id="btn-goto-menu" class="btn btn-secondary btn-block">Back to Menu</a></p>
