<p>Reaching definitions is a forward data-flow, so we need to calculate the \(\text{In}\) set for the first node:</p>

<p>\begin{align}
\text{In}(n) &= \bigcup_{p \in preds} \text{Out}(p) \\
             &= \bigcup_{p \in \varnothing} \text{Out}(p) \\
             &= \varnothing
 \end{align}</p>
