<p>We collect information about the data <strong>flowing in</strong> and <strong>out</strong> of each node. We refer to these as  <strong style="color: #9a162c">points</strong> in the control-flow graph.</p>
