<p>\(\text{In}(n)\) is the set of definitions which reach the <strong>given</strong> node.</p>

<p>\(\text{Out}(n)\) is the set of variables that reach <strong>subsequent</strong> nodes.</p>

<p>\(\text{DefKill}(n)\) is the set of variables which are re-defined in ({{#definition "definition_killed"}}<strong>killed</strong>{{/definition}} by) a node. These definitions <strong>will not</strong> be in \(\text{Out}(n)\).</p>

<p>\(\text{DefGen}(n)\) is the set of variables which are defined in ({{#definition "definition_generated"}}<strong>generated</strong>{{/definition}} by) a node. These definitions <strong>will be</strong> in \(\text{Out}(n)\).</p>
