<p>Now we need to consider the \(\text{In}\) set for the second node:</p>

<p>\begin{align}
\text{In}(n) &= \bigcup_{p \in preds} \text{Out}(p) \\
             &= \bigcup_{p \in \{n_0\}} \text{Out}(p) \\
             &= \{\texttt{ra}_1\}
 \end{align}</p>
