<p>Let's fast forward to the end of the analysis. We can see that the store to \(\texttt{rd}\) generates the definition \(\texttt{rd}_1\), leaving us with \(\{\texttt{rd}_1, \texttt{ra}_2, \texttt{rb}_2\}\)</p>

<p>In data-flow analysis we <strong>iterate</strong> this process until the values at each point <strong>stop changing</strong>. Since this example only has a single path, it's not necessary - we'll save that for the next lesson.</p>
