<p>{{#definition "reaching_definition"}}<strong>Reaching definitions</strong>{{/definition}} analysis lets us determine which values are available at each point in the CFG. A {{#definition "variable_definition"}}<strong>definition</strong>{{/definition}} occurs when a value is stored in a variable. That definition {{#definition "reaching_definition"}}<strong>reaches</strong>{{/definition}} every node along any path in which that definition is <strong>not overwritten</strong> by another assignment.</p>

</p>We can use data-flow analysis to compute the reaching definitions at each point in our CFG.</p>
