<div class="row">
    <div class="col-xs-6 lesson-step">
        <nav class="row">
            <button id="btn-prev" class="btn btn-primary">Prev</button>
            <h1 class="nav-title">$MISSING_TITLE</h1>
            <button id="btn-next" class="pull-right btn btn-primary">Next</button>
        </nav>
        <div class="row">
            <div id="text" class="col-xs-12">
            </div>
        </div>
    </div>
    <div id="cfg-canvas" class="col-xs-6">
    </div>
</div>
