<p>We can use the same equations to work out \(\text{In}(n_1)\):</p>

<p>
    \begin{align}
    \text{In}(n_1) &= \bigcup_{p \in \{n_1\}} \text{Out}(p) \\
                   &= \text{Out}(n_1) \\
                   &= \{ {\tt rx_1} \} \\
    \end{align}
</p>

<p>Since \(n_0\) is a predecessor of \(n_1\), the values from \(\text{Out}(n_1)\) <strong>flow into</strong> \(n_1\), so we are left with \(\{ {\tt rx_1} \}\).</p>
