<p>Now let's work out \(\text{Out}(n_1)\):</p>

<p>
    \begin{align}
    \text{Out}(n_1) &= \text{DefGen}(n_1) \cup \big{(}\text{In}(n_1) \setminus \text{DefKill}(n_1)\big{)} \\
    &= \{ {\tt rx_2} \} \cup \big{(} \{ {\tt rx_1} \} \setminus \{ {\tt rx_i} : \forall i \neq 1 \}\big{)} \\
    &= \{ {\tt rx_2} \} \cup \varnothing \\
    &= \{ {\tt rx_2} \}
    \end{align}
</p>

<p>The assignment to \({\tt rx}\) {{#definition "definition_generated"}}generates{{/definition}} the definition \({\tt rx_2}\). This definition overwrites (and {{#definition "definition_killed"}}kills{{/definition}}) \({\tt rx_1}\) so we're left with \( \{ {\tt rx_2} \} \)!</p>
