<p>{{#definition "branch"}}Branching{{/definition}} instructions such as <code>cbr</code>, <code>cmp_GE</code>, and <code>jump</code> have <strong>multiple outgoing edges</strong>, one for each instruction we might jump to.</p>
