<p>However, we're still not done. Even though \({\tt ra_2}\) {{#definition "definition_killed"}}kills{{/definition}} the definition \({\tt ra_1}\), we need to <strong>continue evaluating</strong> nodes until we're certain everything has <strong>stopped changing</strong>. Use the buttons below to control the simulation. When you're done, click next to finish this lesson.</p>
