<p>{{#definition "dataflow_analysis"}}Data-flow analysis{{/definition}} is a technique for gathering information at various points in a {{#definition "control_flow_graph"}}control-flow graph{{/definition}}. {{#definition "compiler"}}Compilers{{/definition}} perform data-flow analysis to help them make decisions when {{#definition "optimizing_compiler"}}optimizing{{/definition}} programs.</p>
