<p>When we talk about <strong style="color: #9a162c">points</strong> in a CFG, we mean the points where control flows in and out of nodes in the graph, referred to as <strong>in</strong> and <strong>out</strong>.</p>
