<p>After calculating \(\text{Out}(n_3)\), its values have changed. This means that our eariler calculation of \(\text{In}(n_1)\) is now <strong>incorrect</strong>!</p>

<p>Data-flow analysis is an {{#definition "iterative"}}iterative{{/definition}} process. We calculate value sets for each point <strong>in order</strong>, and <strong>repeat</strong> this analysis until our values <strong>stop changing</strong>. Since the value of \(\text{Out}(n_3)\) has <strong>changed</strong>, we'll have to go back and fix \(\text{In}(n_1)\).</p>
