<h1>Reaching Definitions</h1>

<p>One form of {{#definition "data_flow_analysis"}}data-flow analysis{{/definition}} is {{#definition "reaching_definition"}}reaching definitions{{/definition}}. A definition is said to <strong>reach</strong> a point in our control-flow graph if there exists a path from where it was defined (or {{#definition "definition_generated"}}generated{{/definition}}) to that point along which it is not overwritten (or {{#definition "definition_killed"}}killed{{/definition}}).</p>
