<div id="show-points-controls" class="input-group">
    <div class="input-group-addon input-group-addon-sm">Show Points</div>
    <span class="input-group-btn">
        <button id="btn-show-points" class="btn btn-success btn-sm">All</button>
    </span>
</div>
