<div class="node-html-label">
    <span class="node-index">
        n<sub>{{index}}</sub>
    </span>
    <table class='iloc'>
        <tbody>
            <tr>{{{content}}}</tr>
        </tbody>
    </table>
</div>
