<div class="row">
    <div id="left-column" class="col-xs-offset-2 col-xs-8 lesson-step">
        <nav class="row">
            <button id="btn-prev" class="btn btn-primary">Prev</button>
            <h1 id="lesson-nav-title">$MISSING_TITLE</h1>
            <button id="btn-next" class="pull-right btn btn-primary">Next</button>
        </nav>
        <div class="row flex-max">
            <div id="text" class="col-xs-12">
            </div>
        </div>
    </div>
</div>
