<p>It turns out that the process we used for {{#definition "reaching_definition"}}reaching definitions{{/definition}} can be repeated for other kinds of data-flow analysis. We can define what is known as a <strong>generic framework</strong>, which allows us to apply the <strong>same process</strong> to <strong>all</strong> our data-flows!</p>
