<p>Remember that a function is monotonic if for any \(x \le y, \, f(x) \le f(y)\). Using our meet operator, we can define monotonicity in <strong>another way</strong>: \[ f(x \land y) \le f(x) \land f(y) \]</p>
