<p>We want to <strong>avoid</strong> this, so our data-flows must meet the following criteria:</p>

<ul>
    <li>\(F\) contains the {{#definition "identity_function"}}identity function{{/definition}}.</li>
    <li>\(F\) must be {{#definition "closure"}}closed{{/definition}} under {{#definition "composition"}}composition{{/definition}}.</li>
    <li>\(F\) must be {{#definition "monotonic"}}monotonic{{/definition}}.</li>
    <li>The values and meet operator must form a {{#definition "meet_semilattice"}}meet semi-lattice{{/definition}}.</li>
</ul>
    
