<p>If we define \( \small{\text{DefGen}_C = \text{DefGen}_A \cup (\text{DefGen}_B \setminus \text{DefKill}_A)}\) and \( \small{\text{DefKill}_C = (\text{DefKill}_B \cup \text{DefKill}_A)} \), we can substitute them and we're left with:</p>

<p>
    \begin{align}
    F_C(x) &= \text{DefGen}_C \cup (x \setminus \text{DefKill}_C) \\
    \end{align}
</p>

<p>Which is also a member of \(F\)!
