<p>We can define {{#definition "reaching_definitions"}}reaching definitions{{/definition}} using our <strong>generic framework</strong>:</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr id="framework-domain">
            <td>Domain</td>
            <td>Definitions</td>
        </tr>
        <tr id="framework-direction">
            <td>Direction</td>
            <td>Forward</td>
        </tr>
        <tr id="framework-transfer">
            <td>Transfer Function</td>
            <td>\(\small{F_{B}(x) = \text{DefGen}_{B} \cup (x \setminus \text{DefKill}_{B})} \)</td>
        </tr>
        <tr id="framework-meet">
            <td>Meet Function</td>
            <td>\(\land = \cup\)</td>
        </tr>
        <tr id="framework-boundary">
            <td>Boundary</td>
            <td>\(\small{\text{In}(\small{\text{ENTRY}}) = \varnothing}\)</td>
        </tr>
        <tr id="framework-initial">
            <td>Initial Value</td>
            <td>\(\top =  \small{\varnothing}\)</td>
        </tr>
    </tbody>
</table>
