<p>Our third condition is that:</p>

<ul style="text-align: center; list-style-position:inside;">
    <li>\(F\) must be {{#definition "monotonic"}}monotonic{{/definition}}.</li>
</ul>

<p>If a function \(f(x)\) is {{#definition "monotonic"}}monotonic{{/definition}}, then as \(x\) increases, \(f(x)\) either <strong>only increases</strong> or <strong>only decreases</strong>. That is, for all \( x \leq y \) we have \( f(x) \leq f(y) \).</p>
