<p>This actually satisfies our final condition:</p>

<ul style="text-align: center; list-style-position:inside;">
    <li>The values and meet operator must form a {{#definition "meet_semilattice"}}meet semi-lattice{{/definition}}.</li>
</ul>
