<h1>Generic Framework</h1>

<p>Welcome to the Data-Flow Analysis Tutor! In this tutorial, you'll learn:</p>

<ul>
    <li>How to define data-flows within a <strong>generic framework</strong>.</li>
    <li>The conditions under which our analyses will {{#definition "terminate"}}terminate{{/definition}}.</li>
    <li>The purpose of a {{#definition "meet_semilattice"}}meet semi-lattice{{/definition}}.</li>
</ul>

<p>To begin, please click the <em>Next</em> button.</p>
