<p>For our {{#definition "reaching_definition"}}reaching definitions{{/definition}} framework, this is the function for any block which doesn't define any variables. Looking at the CFG on the right, we can see that \(\text{In}(n_1) = \text{Out}(n_1)\), i.e.: \[ F_{n_1}(x) = x \]</p>
