<h1>Forward Analysis Algorithm</h1>

<p>For a {{#definition "forward_analysis"}}forward analysis{{/definition}} we use the following algorithm:</p>

<p>
    \begin{align}
    & \text{In} ( \small{\text{ENTRY}} ) = v_{\text{ENTRY}}; \\
    & {\bf for} \, ( \text{each node} \: n \: \text{in the CFG} ) \; \text{Out}(n) = \top;\\
    & \phantom{ {\bf while} \, ( \text{changes to any} \: \text{Out}(n) \: \text{occur} ) \: \{ }\\
    & \phantom{ \quad \quad {\bf for} \, (\text{each node} \: n \: \text{in the CFG} ) \: \{ } \\
    & \phantom{ \quad \quad \quad \quad \text{In}(n) = \land_{p \in \text{preds}} \text{Out}(p); } \\
    & \phantom{ \quad \quad \quad \quad \text{Out}(n) = F(n); } \\
    & \phantom{ \quad \quad \} } \\
    & \phantom{ \} }
    \end{align}
</p>

<ol>
<li>First, we assign the {{#definition "boundary"}}boundary{{/definition}} value.</li>
<li>Next, we assign the <strong>initial values</strong> to each point.</li>
</ol>
