<p>For example, looking at the diagram, the {{#definition "meet_function"}}meet{{/definition}} of \(\{ {\tt ra}_1 \}\) and \(\{ {\tt rc}_1 \}\) is \(\{ {\tt ra}_1, {\tt rc}_1 \}\) - the highest-up node in the diagram which <strong>links</strong> both sets. There must only be <strong>one</strong> greatest lower bound for a partially ordered set to be a semi-lattice.</p>
