<p class="lesson-generic-description">In fact, all values are initialised to the <strong>empty set</strong> - the {{#definition "top"}}top{{/definition}} element. It is possible for the {{#definition "boundary"}}boundary{{/definition}} to <strong>differ</strong> from the initial values, but here they are the same.</p>
