<p>These algorithms are what is known as a {{#definition "fixed_point"}}fixed-point computation{{/definition}}. We {{#definition "iterative"}}iterate{{/definition}} the process until repeating it gives us the <strong>same answer</strong> as the last time.</p>

<p>We need to be careful, though - if we design our data-flow badly, we may <strong>never</strong> find a fixed-point, and our algorithm may <strong>never stop</strong> running!</p>
