<p>Our first condition is that:</p>

<ul style="text-align: center; list-style-position:inside;">
    <li>\(F\) contains the {{#definition "identity_function"}}identity function{{/definition}}.
</ul>

<p>The identity function is a function whose output is the <strong>same</strong> as its input: \[ f(x) = x \]</p>
