<p> Every {{#definition "semilattice"}}semi-lattice{{/definition}} has a bottom (or \(\bot\)) element. A {{#definition "lattice"}}lattice{{/definition}} also has a top (or \(\top\)) element. For every element \(x\):</p>

<ul>
    <li>\(x \land \top = x\) and \( x \le \top \).</li>
    <li>\(x \land \bot = \bot\) and \( x \ge \bot \).</li>
</ul>

<p>In our {{#definition "hasse_diagram"}}hasse diagram{{/definition}} for {{#definition "reaching_definition"}}reaching definitions{{/definition}}, \(\top\) is the <strong>empty set</strong> (\(\{\}\) or \(\varnothing\)) and \(\bot\) is the set of <strong>all definitions</strong>.</p>
