<p>Our second condition is that:</p>

<ul style="text-align: center; list-style-position:inside;">
    <li>\(F\) must be {{#definition "closure"}}closed{{/definition}} under {{#definition "composition"}}composition{{/definition}}.</li>
</ul>

<p>If a set is {{#definition "closure"}}closed{{/definition}} under an operation, it means that applying that operation to a member of the set produces <strong>another member</strong> of that set.</p>

<p>For example, the set of integers is closed under <strong>addition</strong>: adding any two integers produces <strong>another integer</strong>.</p>
