<p>A {{#definition "partial_order"}}partially ordered{{/definition}} set of this kind is called a {{#definition "semilattice"}}meet semi-lattice{{/definition}}. That is, for any pair of sets of values, there exists a third set which is the highest-ordered <strong>lower bound</strong> of the {{#definition "meet_function"}}meet{{/definition}} of said sets.</p>
