<p class="lesson-generic-description">For {{#definition "reaching_definitions"}}reaching definitions{{/definition}}, the {{#definition "boundary"}}boundary{{/definition}} is the <strong>empty set</strong>.</p>
