<p class="lesson-generic-description">The domain of {{#definition "reaching_definitions"}}reaching definitions{{/definition}} is {{#definition "variable_definition"}}variable definitions{{/definition}} since our {{#definition "dataflow_equation"}}data-flow equations{{/definition}} operate on these values.</p>
