<p class="lesson-generic-description">{{#definition "reaching_definitions"}}Reaching definitions{{/definition}} propagates values <em>forwards</em> from the entry point of the CFG, that is, from a node's {{#definition "predecessor"}}predecessors{{/definition}} to that node.</p>
