<p>For {{#definition "reaching_definition"}}reaching definitions{{/definition}}, let's take any two functions from \(F\) and call them \(F_A\) and \(F_B\). We know that:</p>

<p>
    \begin{align}
    F_A(x) &= \text{DefGen}_A \cup (x \setminus \text{DefKill}_A) \\
    F_B(x) &= \text{DefGen}_B \cup (x \setminus \text{DefKill}_B)
    \end{align}
</p>
