<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <h1>Test Rules</h1>

        <p>Welcome! It's time to test your knowledge.</p>

        <p>For each question, <strong>select an answer</strong> by clicking it. Use the <em>Next</em> and <em>Prev</em> buttons to <strong>navigate</strong> between questions.</p>

        <p>You can <strong>change</strong> your selection at any time. You may <strong>revisit</strong> questions and change your answer if you wish.</p>

        <p>In <strong>some</strong> questions you are allowed to select multiple answers. You will <strong>lose 1 point</strong> for every <strong>incorrect</strong> answer, but your score cannot become negative - that is, incorrect answers will not count against correct answers for <em>other</em> questions.</p>

        <p>Click the <em>Start</em> button to continue. When you are satisfied with your answers, click the <em>Submit</em> button to finish the test.</p>

        <div class="text-center">
            <button id="btn-test-start" class="btn btn-primary">Start</button>
        </div>
    </div>
</div>
