<p>\(\text{In}(n)\) is the set of variables that are {{#definition "live_in"}}live-in{{/definition}} at a given node.</p>

<p>\(\text{Out}\) is the set of variables that are {{#definition "live_out"}}live-out{{/definition}} at a given node.</p>

<p>\(\text{Use}(n)\) is the set of variables that are {{#definition "variable_use"}}used{{/definition}} at a given node: in our example program, the variables on the <strong>left-hand side</strong> of each instruction.</p>

<p>\(\text{Def}(n)\) is the set of variables that are {{#definition "variable_definition"}}defined{{/definition}} at a given node: in our example program, the variables on the <strong>right-hand side</strong> of each instruction.</p>
