<p>{{#definition "reaching_definition"}}Reaching definitions{{/definition}} analysis lets us determine which values are available at each point in the CFG. A {{#definition "variable_definition"}}definition{{/definition}} occurs when a value is stored in a variable. That definition {{#definition "reaching_definition"}}reaches{{/definition}} every node along any path in which that definition is not overwritten.</p>

</p>We can use data-flow analysis to compute the live variables at each point in our CFG.</p>