<p>A {{#definition "control_flow_graph"}}control-flow graph{{/definition}} is a graph representing the possible execution paths of a computer program.</p>
<p>Let's see what a {{#definition "control_flow_graph"}}control-flow graph{{/definition}} looks like.</p>
