<p>Now we need to consider the \(\text{In}\) set for the third node:</p>

<p>\begin{align}
\text{In}(n) &= \bigcup_{p \in preds} \text{Out}(s) \\
             &= \bigcup_{p \in \{n_1\}} \text{Out}(p) \\
             &= \{\texttt{rb}_1, \texttt{ra}_1\}
 \end{align}</p>
