<span id="sim-controls" class="btn-group">
    <button id="fast-backward" class="btn btn-default">
        <span class="fa fa-fast-backward"></span>
    </button>
    <button id="step-forward" class="btn btn-default">
        <span class="fa fa-step-forward"></span>
    </button>
    <button id="play" class="btn btn-default">
        <span class="fa fa-play"></span>
    </button>
    <button id="pause" class="btn btn-default">
        <span class="fa fa-pause"></span>
    </button>
    <button id="fast-forward" class="btn btn-default">
        <span class="fa fa-fast-forward"></span>
    </button>
</span>
