<div class="col-xs-12">
    {{#each question}}
        <p>{{{this}}}</p>
    {{/each}}
    <div class="answer-grid">
        {{#each answers}}
            <button class="btn btn-info btn-answer {{#if this.correct}}correct{{else}}incorrect{{/if}}" answer_id="{{this.id}}">
                {{this.text}}
            </button>
        {{/each}}
    </div>
    <p class="pick-text"></p>
</div>
