<div class="row">
    <div class="col-xs-6 lesson-step" style="max-width: 50%">
        <div class="row flex-max">
            <div id="text" class="col-xs-12">
            </div>
        </div>
        <div class="row margin-bottom">
            <div id="results-canvas" class="col-xs-12">
            </div>
        </div>
        <nav class="row">
            <button id="btn-prev" class="btn btn-primary">Prev</button>
            <button id="btn-next" class="pull-right btn btn-primary">Next</button>
        </nav>
    </div>
    <div id="cfg-canvas" class="col-xs-6">
    </div>
</div>
