<p>This is because {{#definition "reaching_definitions"}}reaching definitions{{/definition}} is a {{#definition "forward_analysis"}}forward analysis{{/definition}}. {{#definition "backward_analysis"}}Backward analyses{{/definition}} like {{#definition "live_variable"}}liveness analysis{{/definition}} prefer {{#definition "postorder"}}post-order{{/definition}} traversals.</p>
