<p>You may have noticed that using a {{#definition "postorder"}}postorder{{/definition}} traversal made our analysis take <strong>6</strong> iterations instead of 3. Since we're evaluating each child first, we need to <strong>wait</strong> until we've analysed that node's parent before that information becomes available, which takes a <strong>whole round</strong>!</p>
