<p>That's all we need to do for the round-robin analysis: examine each node, in order, until everything stops changing. This process <strong>usually</strong> only takes a couple of rounds, but that depends on the <strong>structure</strong> of the CFG and the <strong>order</strong> in which we evaluate nodes.</p>

<p>In this lesson we evaluated nodes in {{#definition "reverse_postorder"}}reverse post-order{{/definition}}. However, for some analyses it's better to use {{#definition "postorder"}}post-order{{/definition}}.<p>
