<p>As we stepped through the analysis, you may have noticed that our value sets have <strong>changed</strong>. This means we need to perform <strong>another round</strong>. This time, <strong>you're</strong> going to work out the answers! Refer to the table if you get stuck. Click the <em>Next</em> button when you're ready to continue.</p>
