<p>This is because {{#definition "reaching_definitions"}}reaching definitions{{/definition}} is a {{#definition "forward_analysis"}}forward analysis{{/definition}}. Later on we'll look at {{#definition "backward_analysis"}}backward analyses{{/definition}} and see which ordering is best for those.</p>
