<h1>The Round Robin Algorithm</h1>

<p>So far we've seen how {{#definition "dataflow_equations"}}data-flow equations{{/definition}} help us calculate value sets at points in the {{#definition "control_flow_graph"}}control-flow graph{{/definition}}. But how do we apply this in practice?</p>
