<p>{{#definition "reverse_postorder"}}Reverse post-order{{/definition}} is post-order in reverse. This can be seen as a <strong>parent-first</strong> approach. The <strong>reverse post-ordering</strong> of our CFG is \([{\tt n_0}, {\tt n_1}, {\tt n_2}, {\tt n_3}, {\tt n_4}, {\tt n_5} ]\).</p>
