<p>Correct! Although we humans can <strong>intuitively</strong> tell that our values will not change, a <strong>compiler</strong> needs to perform <strong>another round</strong> to make sure nothing changes.</p>
