<p>We can see in the table that the values of \(\text{DefGen}\) and \(\text{DefKill}\) have been worked out already. Since this information only depends upon the <strong>node itself</strong>, we can work it out ahead of time. This is referred to as {{#definition "local_information"}}local information{{/definition}}.</p>
