<h1>Summary</h1>

<ul>
    <li>In {{#definition "round_robin"}}round-robin{{/definition}} analysis we {{#definition "iterative"}}iterate{{/definition}} over a {{#definition "control_flow_graph"}}control-flow graph{{/definition}}, evaluating nodes in a specific {{#definition "ordering"}}order{{/definition}} until the values at each node <strong>stop changing</strong>.</li>
    <li>The {{#definition "ordering"}}order{{/definition}} in which we evaluate nodes can affect the {{#definition "efficiency"}}efficiency{{/definition}} of our analysis.</li>
    <li>In {{#definition "postorder"}}post-order{{/definition}} we evaluate a node's {{#definition "successor"}}successors{{/definition}} (<strong>children</strong>) first.</li>
    <li>In {{#definition "reverse_postorder"}}reverse post-order{{/definition}} we evaluate a node's {{#definition "predecessor"}}predecessors{{/definition}} (<strong>parents</strong>) first.</li>
</ul>

<p>Continue to the next lesson, view the example in the simulator or return to the menu using the buttons below.</p>

<p><a id="btn-goto-next-lesson" class="btn btn-primary btn-block">Next Lesson</a></p>
<p><a id="btn-goto-simulator" class="btn btn-secondary btn-block">Open CFG in Simulator</a></p>
<p><a id="btn-goto-menu" class="btn btn-secondary btn-block">Back to Menu</a></p>
