<h1>Introduction</h1>

<p>Welcome to the Data-Flow Analysis Tutor! In this tutorial, you'll learn:</p>

<ul>
    <li>How to perform a simple data-flow analysis using the {{#definition "round_robin"}}round-robin{{/definition}} approach.</li>
    <li>How the order of evaluated nodes affects the efficiency of analysis.</li>
</ul>

<p>To begin, please click the <em>Next</em> button.</p>
