<div class="row">
    <div id="code-display" class="col-xs-12">
    </div>
</div>
<div class="row">
    <div id="code-editor" class="col-xs-12">
    </div>
</div>
<div class="row">
    <div id="code-controls" class="col-xs-12">
    </div>
</div>
