<div id="code-controls-edit">
    <button id="btn-sim" class="btn btn-primary btn-sm">Simulate</button>
    <button id="btn-cancel-edit" class="btn btn-danger btn-sm">Cancel</button>
</div>
<div id="code-controls-sim">
    <button id="btn-edit" class="btn btn-primary btn-sm">Edit</button>
</div>
