<div class="row">
    <div class="col-xs-12">
        <h1 id="framework-title"></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6"><h2>Meet Function</h2></div>
            <div class="col-xs-6"><h2>Transfer Function</h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div id="framework-meet" class="meet col-xs-6"></div>
    <div id="framework-transfer" class="transfer col-xs-6"></div>
</div>
<div class="row">
    <div id="framework-order" class="col-xs-12"></div>
</div>
