<div class="row">
    <div id="left-column" class="col-xs-3">
        <div class="row">
            <div id="code-canvas">
            </div>
        </div>
        <div class="row">
            <div id="sim-controls-canvas" class="col-xs-12">
            </div>
        </div>
        <div class="row flex">
            <div id="lattice-canvas" class="col-xs-12">
            </div>
        </div>
    </div>
    <div id="right-column" class="col-xs-9">
        <div class="row">
            <div id="framework-canvas" class="col-xs-12">
            </div>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#cfg-canvas">CFG</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#results-canvas">Results Table</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="cfg-canvas" class="tab-pane fade in active flex">
            </div>
            <div id="results-canvas" class="tab-pane fade">
            </div>
        </div>
    </div>
</div>
